{
    frankenphp
    order php_server before file_server
}

:{$PORT:8080} {
    root * /app/public
    encode zstd br gzip
    
    # Handle PHP files
    php_server
    
    # Serve static files
    file_server
}
